@media only screen and (max-width: 540px) {
    #fullPage-nav {
        display: none; // Hide navigation dots.
    }
}

@media only screen and (max-height: 320px) {
    .btn-continue {
        width: 16px;
        height: 16px;
        margin-left: -25px;

        background-image: url('../images/theme/btn-more-small.png');
    }
}

@media only screen and (max-width: 1200px) {
    body {
        line-height: 36px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.525em;
    }
    h3 {
        font-size: 1.175em;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #section1 .show_dates .container .single_show h3, #section1 .show_dates .container li h3{
        font-size: 1rem;
    }
    #section1 .show_dates .container .single_show p{   
        text-align:center;
        font-size: 1rem;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #section1 .show_dates .container .single_show h3{
        font-size: 1rem;
    }
    #section1 .show_dates .container .single_show h3, #section1 .show_dates .container li h3{
        font-size: 1rem;
    }
    #section1 .show_dates .container .single_show p{   
        text-align:center;
        font-size: 1rem;
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #section1 .show_dates .container .single_show h3{
        font-size: 1rem;
    }
    #section1 .show_dates .container .single_show h3, #section1 .show_dates .container li h3{
        font-size: 1rem;
    }
    #section1 .show_dates .container .single_show p{   
        text-align:center;
        font-size: 1rem;
    }
  
}

@media only screen and (max-width: 480px), screen and (max-height: 480px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 720px), screen and (max-height: 480px) {
    $icon-size: 32px;

    .social-links {
        a {
            width: $icon-size;
            height: $icon-size;
            margin: 6px;

            background-size: $icon-size $icon-size;
        }
    }
}

@media screen and (max-width: 320px) {
    $icon-size: 24px;

    .social-links {
        a {
            width: $icon-size;
            height: $icon-size;
            margin: 2px;

            background-size: $icon-size $icon-size;
        }
    }

}
