<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
    {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
    {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="bio"><a href="#bio">Biography</a></li>
        <li data-menuanchor="social"><a href="#social">Social Links</a></li>
    </ul>

    <div id="section0" class="section" data-name="bio">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            <img src="../uploads/logo.jpg" />
<!--        {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %} -->
        </div>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[site.lang].more }}" href="#social"></a>
    </div>

    <div id="section1" class="section" data-name="social">
        <div class="u-container">
            <h3 class="animated hidden">
                Spectacles
            </h3>

            <nav class="nav-global animated hidden">
                <ul>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].past }}" href="javascript:;" class="past_show section_off">{{ site.data.i18n[site.lang].past }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].to_come }}" href="javascript:;" class="show_to_come section_on">{{ site.data.i18n[site.lang].to_come }}</a></li>
                </ul>
            </nav>

            <div class="show_dates animated hidden">
                <ul class="container animated" id="show_to_come_bloc">
                  {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
                  {% assign posts_collate = site.posts | sort: 'showdate' %}
                      {% for post in posts_collate %}
                        {% capture date %}{{post.showdate | date: '%s' | plus: 0 }}{% endcapture %}
                        {% if date > now %}
                          {% assign date_format = site.date_format | default: "%-d %B %Y" %}
                          {% assign date_english = post.showdate | date: date_format %}
                          {% include date-french.html %}
                                <li class="single_show">
                                  <h3>
                                    {{ post.titre }}
                                    <br>
                                    <small>{{ post.excerpt }}</small>
                                  </h3>
                                  <p>
                                    {{ date_french }}<br>{{ post.showdate | date: "%R" }}
                                  </p>
                                </li>
                        {% else %}
                        <li>
                            <p>{{ site.data.i18n[site.lang].no_show }}</p>
                        </li>   
                    {% endif %}
                  {% endfor %}
                </ul>

                <ul class="container animated hidden" id="past_show_bloc">
                  {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
                  {% assign posts_collate = site.posts %}
                  {% for post in site.posts %}
                    {% capture date %}{{post.showdate | date: '%s' | plus: 0 }}{% endcapture %}
                    {% if date < now %}
                      {% assign date_format = site.date_format | default: "%-d %B %Y" %}
                      {% assign date_english = post.showdate | date: date_format %}
                      {% include date-french.html %}
                            <li class="single_show">
                              <h3>
                                {{ post.titre }}
                                <br>
                                <small>{{ post.excerpt }}</small>
                              </h3>
                              <p>
                                {{ date_french }}<br>{{ post.showdate | date: "%R" }}
                              </p>
                            </li>
                        
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>

        </div>
    </div>

  {% include home/scripts.html %}
</body>

</html>