<script src="{{ site.baseurl }}/assets/javascripts/jquery.fullPage.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/jquery.easing.min.js"></script>
<script>
    $(document).ready(function () {
        $.fn.fullpage({
            anchors: ['bio', 'social'],
            css3: true,
            fixedElements: '.site-notice',
            menu: '#menu',
            navigation: true,
            navigationPosition: 'right',
            resize: false,
            scrollingSpeed: 500,

            afterLoad: function (anchorLink, index) {
                if (index === 1) {
                    $('#section0 .headings, #section0').removeClass('hidden').addClass('fadeInDown');
                    $('.btn-continue').removeClass('hidden').addClass('bounce');
                }
                if (index === 2) {
                    $('#section1 h1, #section1 .show_dates, #section1 h3').removeClass('hidden').addClass('fadeInUp');
                }
            },

            onLeave: function (index, direction) {
                if (index == 1 && direction == 'down') {
                    $('#section0 .headings, #section0 .btn-continue').addClass('hidden').removeClass('bounce fadeInDown fadeInLeft');
                }
                if (index == 2 && direction == 'up') {
                    $('#section1 h1, #section1 .show_dates, #section1 h3').addClass('hidden').removeClass('fadeInUp');
                }
            }

        });

        $('.past_show').on('click', function () {
            if($('#past_show_bloc').hasClass("hidden")){
                $('#past_show_bloc').removeClass("hidden");
            }
            else{
                $('#show_to_come_bloc').addClass("hidden");
            }
        });
        $('.show_to_come').on('click', function () {
            if($('#show_to_come_bloc').hasClass("hidden")){
                $('#show_to_come_bloc').removeClass("hidden");
            }
            else{
                $('#past_show_bloc').addClass("hidden");
            }
        });

    });

</script>
